@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

input {
  font-family: "Poppins", sans-serif;
}

.App > .title {
  text-align: center;
}

.App form {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.App form > div {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.App form button {
  flex: 0.2;
  cursor: pointer;
  background: #634fbe;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
}

.App form button:hover {
  opacity: 0.8;
}

.product__title {
  margin: 20px 40px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #634fbe;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
}

.product__title > div {
  width: 25%;
  text-align: center;
}

.list__product {
  max-height: 400px;
  overflow-y: auto;
  margin: 20px 40px;
}

.list__product::-webkit-scrollbar {
  width: 5px;
  background: #ccc;
  border-radius: 10px;
}

.list__product::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #634fbe;
}

.list__product .product__item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
}

.list__product .product__item > div {
  width: calc(100% / 4);
  text-align: center;
  color: #301e67;
}
